{% extends 'base.html.twig' %}

{% block body %}
    <h1>Doorlogs list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Направление</th>
                <th>Пользователь</th>
                <th>Date</th>
                {% if app.user.role == "ROLE_ADMIN" %}
                <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for doorlog in doorlogs %}
            <tr>
                <td><a href="{{ path('doorlog_show', { 'id': doorlog.id }) }}">{{ doorlog.id }}</a></td>
                <td>{{ doorlog.dir == 1 ? "вход" : "выход" }}</td>
                <td>{{ doorlog.cmsuser }}</td>
                <td>{% if doorlog.date %}{{ doorlog.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                {% if app.user.role == "ROLE_ADMIN" %}
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('doorlog_show', { 'id': doorlog.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('doorlog_edit', { 'id': doorlog.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if app.user.role == "ROLE_ADMIN" %}
    <ul>
        <li>
            <a href="{{ path('doorlog_new') }}">Create a new doorlog</a>
        </li>
    </ul>
    {% endif %}
{% endblock %}
