<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ path('homepage') }}">CMS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('cmsuser_index') }}">Пользователи</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('area_index') }}">Офисы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('post_index') }}">Должности</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('department_index') }}">Отделы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('doorlog_index') }}">Посещения</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('bonustransaction_index') }}">Бонусы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('holiday_index') }}">Выходные</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('bonusreason_index') }}">Причины бонусов</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('holidaytype_index') }}">Типы выходных</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('userhistory_index') }}">История изменений</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
