{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bonustransactions list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Пользователь</th>
                <th>Createdat</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
        {% for bonustransaction in bonustransactions %}
            <tr>
                <td><a href="{{ path('bonustransaction_show', { 'id': bonustransaction.id }) }}">{{ bonustransaction.id }}</a></td>
                <td>{{ bonustransaction.cmsuser }}</td>
                <td>{% if bonustransaction.createdat %}{{ bonustransaction.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ bonustransaction.count }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if app.user.role == "ROLE_ADMIN" %}
    <ul>
        <li>
            <a href="{{ path('bonustransaction_new') }}">Create a new bonustransaction</a>
        </li>
    </ul>
    {% endif %}
{% endblock %}
