{% extends 'base.html.twig' %}

{% block body %}
    <h1>Areas list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Addr</th>
                <th>Id</th>
                {% if app.user.role == "ROLE_ADMIN" %}
                <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for area in areas %}
            <tr>
                <td><a href="{{ path('area_show', { 'id': area.id }) }}">{{ area.name }}</a></td>
                <td>{{ area.addr }}</td>
                <td>{{ area.id }}</td>
                {% if app.user.role == "ROLE_ADMIN" %}
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('area_show', { 'id': area.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('area_edit', { 'id': area.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if app.user.role == "ROLE_ADMIN" %}
    <ul>
        <li>
            <a href="{{ path('area_new') }}">Create a new area</a>
        </li>
    </ul>
    {% endif %}
{% endblock %}
