{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cmsusers list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Patronymic</th>
                <th>Birthday</th>
                <th>Avatar</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Countbonus</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cmsuser in cmsusers %}
            <tr>
                <td><a href="{{ path('cmsuser_show', { 'id': cmsuser.id }) }}">{{ cmsuser.name }}</a></td>
                <td>{{ cmsuser.surname }}</td>
                <td>{{ cmsuser.patronymic }}</td>
                <td>{% if cmsuser.birthday %}{{ cmsuser.birthday|date('Y-m-d') }}{% endif %}</td>
                <td><img src="{{ cmsuser.avatar ? cmsuser.avatar : asset('img/user-placeholder.png') }}" class="avatar-img"/></td>
                <td>{{ cmsuser.email }}</td>
                <td>{{ cmsuser.phone }}</td>
                <td>{{ cmsuser.countBonus }}</td>
                <td>{{ cmsuser.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cmsuser_show', { 'id': cmsuser.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cmsuser_edit', { 'id': cmsuser.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cmsuser_new') }}">Create a new cmsuser</a>
        </li>
    </ul>
{% endblock %}
