{% extends 'base.html.twig' %}

{% block body %}
    <h1>Пользователи</h1>
    <h3><a href="{{ path('cmsuser_search_by_department') }}">Поиск по отделам</a></h3>

    <table class="table">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Отчество</th>
                <th>День рождения</th>
                <th></th>
                <th>Email</th>
                <th>Телефон</th>
                <th>Количество бонусов</th>
                <th>ID</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for cmsuser in cmsusers %}
            <tr>
                <td><a href="{{ path('cmsuser_show', { 'id': cmsuser.id }) }}">{{ cmsuser.name }}</a></td>
                <td>{{ cmsuser.surname }}</td>
                <td>{{ cmsuser.patronymic }}</td>
                <td>{% if cmsuser.birthday %}{{ cmsuser.birthday|date('Y-m-d') }}{% endif %}</td>
                <td><img src="{{ cmsuser.avatar ? cmsuser.avatar : asset('img/user-placeholder.png') }}" class="avatar-img"/></td>
                <td>{{ cmsuser.email }}</td>
                <td>{{ cmsuser.phone }}</td>
                <td>{{ cmsuser.countBonus }}</td>
                <td>{{ cmsuser.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cmsuser_show', { 'id': cmsuser.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cmsuser_edit', { 'id': cmsuser.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cmsuser_new') }}">Create a new cmsuser</a>
        </li>
    </ul>
{% endblock %}
