{% extends 'base.html.twig' %}

{% block body %}
    <h1>Refreshercourse</h1>

    <table>
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ refreshercourse.title }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if refreshercourse.date %}{{ refreshercourse.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ refreshercourse.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('refreshercourse_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('refreshercourse_edit', { 'id': refreshercourse.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
